/* CSS files add styling rules to your content */
<code>
@media screen and (max-width: 481px){

body {

  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: black;
}
}
 
h1 {
  font-style: italic;
  color: #373fff;
}




}
</code>

